@media only screen and (max-width: 768px) {
  p {
    font-size: 100%;
  }
  h1 {
    font-size: 130%;
  }
  h2 {
    font-size: 120%;
  }
  h3 {
    font-size: 100%;
    font-weight: 100;
  }

  #container {
    width: 90%;
  }
  #wish-div {
    width: 100%;
  }
  #svg-div {
    width: 100%;
    padding-bottom: 10%;
    margin-top: -5%;
  }
  #svg {
    width: 100%;
    height: 100%;
  }
  #wish {
    font-size: 140%;
    margin-top: 5%;
  }
  #main {
    width: 100%;
    height: 0;
  }

  #text {
    font-size: 130%;
    margin-bottom: 7%;
  }
  #contents-span {
    text-align: center;
  }
  #crush-span {
    font-size: 180%;
    font-weight: bold;
  }
  #contents-box {
    float: left;
    width: 93%;
  }
  #express-span {
    float: right;
    font-weight: bold;
  }
  #txt-content {
    float: right;
    width: 64%;
  }

  #crush-span {
    font-size: 100%;
    font-weight: bold;
  }
  #contents-span {
    text-align: center;
    margin-bottom: 0rem;
  }
  #txt-content {
    margin-top: 5%;
    float: left;
    width: 100%;
  }
  #container-4 {
    margin-top: -20%;
  }
  #container-5 {
    height: 1000vh;
    grid-template-columns: 1fr;
  }
  #container-6 {
    margin-top: 8%;
  }
  #container-7 {
    margin: 5% 3%;
  }
  #container-9 {
    margin-top: 0%;
  }
  #btn-2 {
    width: 100%;
    height: 40%;
    font-size: 90%;
    margin: 2% 0%;
  }
  .btn-3 {
    position: absolute;
    margin: 1rem 1rem 1rem 0.3rem;
    top: 0;
    width: 2rem;
    height: 2rem;
  }
  .quote {
    margin-top: 5%;
    width: 90%;
    height: 70%;
  }
  .quote-1 {
    display: none;
  }
  .btn-1 {
    position: relative;
    margin: 10%;
    width: 100%;
    top: 0px;
  }
  #btn-4 {
    background-color: #ffbda7;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 100%;
    height: 40px;
    color: white;
    display: block;
    margin-top: 10%;
  }
  .card-box {
    width: 90%;
    border: 0;
  }
  .carousel {
    position: relative;
    height: 15rem;
    width: 80%;
    margin: 0 auto;
  }
  .carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: -1;
  }
  .carousel-indicator {
    border: 0;
    width: 10px;
    height: 10px;
    margin: 0% 0.2%;
    cursor: pointer;
    z-index: 1;
  }
  .carousel-indicator.current-slide {
    transform: scale(2);
  }
  #box {
    height: 20rem;
  }
  #container-7 {
    height: 60rem;
  }
  #container-8 {
    margin-top: 2rem;
  }

  #btn-2 {
    height: 9%;
    width: 90%;
    margin-left: 5%;
  }
}
